doctype html
html
	head
		title Accountability
		link(rel="stylesheet" href="/css/map.css")
		link(rel="stylesheet" href='/bs/bootstrap.min.css')
	body#banmap
		img#background(src="images/background.png")
		.container-fluid.map-wrapper
			.row
				.col-xs-12#header-col
					.map-header 
						h1 The Muslim Ban According to The Senate
				.col-xs-push-3.col-xs-6
					.text-wrapper
						p Trump’s executive order banning refugees and immigrants has elicited mixed reactions. Click on a state to see the statements its senators gave on Trump’s Muslim Ban.
			.row
				.col-xs-3
					#legend
						#big-screen-legend
							.row.legend-row
								img#oppose-icon.legend-icon(src='images/teal_icon.png')
								p Fully Opposed
							.row.legend-row
								img#half-icon.legend-icon(src='images/blue_icon.png')
								p Split
							.row.legend-row
								img#support-icon.legend-icon(src='images/black_icon.png')
								p Fully Supportive
						.legend-row#small-screen-legend
							.row
								.col-xs-4
									.row
										img#oppose-icon.legend-icon(src='images/teal_icon.png')
									.row
										p Fully Opposed
								.col-xs-4
									.row
										img#half-icon.legend-icon(src='images/blue_icon.png')
									.row
										p Split
								.col-xs-4
									.row
										img#support-icon.legend-icon(src='images/black_icon.png')
									.row
										p Fully Supportive
				#tooltip
					img#close-tooltip(src='images/close.png' style='cursor: pointer')
					#tooltip-body
				.col-xs-12.col-md-8#map-col
					#map-container
					//svg#statesvg(width="960" height="600")
		script(src='/jq/jquery.min.js')
		script(src='/d3/d3.min.js')
		script(src='/js/senators.js')
		script(src='/js/uStatePaths.js')
		script(src='/js/uStates.js')
		script(src='/js/map.js')
