@font-face {
  font-family: 'Work Sans';
  src: url('http://fonts.googleapis.com/css?family=Work+Sans');
}

body{
	background-image: url("../images/background.png");
	background-size: cover cover;
	background-repeat: no-repeat;
}

.state{
	fill: none;
	stroke: #a9a9a9;
	stroke-width: 1;
}
.state:hover{
	fill-opacity:0.5;
}

#tooltip{
	position: absolute;           
	background: #04233d;   
	width: 100%;

	border:1px solid grey;
	border-radius:5px;

	padding: 20px;             
	margin: 10px;

	transform: translate(-50%, 0%);
	left: 50%;

	text-align: center;
	color: #cccccc;

	z-index: 2000;
	opacity: 0;
}

#close-tooltip{
	position: absolute;
	width: 2%;
	right: 5%;
}

#tooltip h4{
	margin:0;
	font-size: 1.1vw;
	font-weight: 700;
	color: #bababa;
	padding-bottom: 5%;
}

#tooltip h6{
	font-size: .9vw;
	font-family: "Work Sans";
	font-weight: 600;        
	padding-bottom: 3%;
}

#tooltip p{
	font-size: .8vw;
	font-family: "Work Sans";
	font-weight: 400;        
}

#tooltip-container{
	width: 100%;
}

#tooltip-container .col-xs-6 .row{
	padding-top: 1%;
}

svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
